.App {
    font-family: "IBM PLex Sans", sans-serif;
    font-size: 18px;
    padding: 20px;
    padding-bottom: 80px;
    background-color: "#fafafa";
}

.Titlebar {
    text-align: center;
    margin-bottom: 15px;
}

.Home {
    /* display: flex; */
    justify-content: center;
}

.CapturePreview {
    /* flex: 1; */
    width: 480px;
    height: 320px;
    /* aspect-ratio: 16 / 9; */
    background-color: lightgray;
    align-content: center;
    border-radius: 10px;
    position: relative;
}

.CapturePreview canvas {
    border-radius: 10px;
}

.SimInfo {
    /* flex: 1; */
    padding-left: 10vw;
    padding-right: 10vw;
    /* padding-bottom: 40px; */
    /* width: 100%; */
    display: flex;
    /* height: 30vh; */
    /* align-items: center; */
    justify-content: center;
}

.SimInstr {
    width: 480px;
    padding-right: 20px;
}

.SimCards {
    width: 480px;
    padding-left: 20px;
    padding-top: 30px;
}

.PreviewPane {
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    justify-content: center;
}

.PreviewItem {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px
}

.CapturePreview p {
    color: grey;
    padding: 40px;
}

.CaptureImg {
    border-radius: 10px;
}

.CameraBtn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 60px;
}

.CheckImg {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
}

h1 {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 32px;
    margin-bottom: 12px;
    font-weight: 600;
}

.ObjectInfo {
    text-align: center;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.ObjectImage {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.ObjectImage p {
    margin: 6px;
    font-weight: 500;
}

.ObjectImage img {
    width: 120px;
    height: 120px;
}

.ObjectImage hr {
    width: 20px;
    height: 2px;
    border: none;
    background-color: lightgray;
}

.ImageDesc {
    width: 100%;
    border: 2px solid lightgray;
    align-content: center;
    border-radius: 10px;
    position: relative;
}

.ImageDesc p {
    padding: 12px;
    margin: 0px;
}

.Bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    align-content: center;
    z-index: 10;
    box-shadow: 0px -1px 20px rgba(10, 10, 10, 0.2);
    background-color: #fafafa;
}

/* Bottom bar stuff */

.PlayBtn {
    padding: 20px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.CaptureBtn {
    padding: 20px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ReplayBtn {
    padding: 20px;
    height: 40px;
    position: absolute;
    right: 150px;
    bottom: 0px;
}

.DownloadBtn {
    padding: 20px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.BackBtn {
    height: 40px;
    position: absolute;
    padding: 20px;
    left: 0px;
    bottom: 0px
}

.OrbitBtn {
    padding: 20px;
    height: 40px;
    /* uncomment below for placing next to download */
    /* position: absolute;
    right: 150px;
    bottom: 0px; */
}

/* Camera Page Components */

/* .Camera {
    justify-content: center;
    display: flex;
} */

.CameraPage {
    /* aspect-ratio: 16 / 9; */
    /* background-color: lightgray; */
    align-content: center;
    border-radius: 10px;
    position: relative;
    justify-self: center;
}

#ImageCapture {
    display: block;
}

.Webcam {
    border-radius: 10px;
}

.PlayPage {
    align-content: center;
    justify-self: center;
}

.PlayCanvas {
    border: 1px solid #1e1e1e;
    border-radius: 10px;
}

